/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-bg1: #292F36;
  --vt-c-bg2: #1A1E23;

  --vt-c-brand1: #12F7D6;
  --vt-c-brand2: #98FAEC;

  --vt-c-grey: #43454D;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-bg1);
  --color-background-2: var(--vt-c-bg2);

  --color-brand-1: var(--vt-c-brand1);
  --color-brand-2: var(--vt-c-brand2);
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    'IBM Plex Mono',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
